/* Definimos colores por defecto*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root {
  --color-background: #3d4268;
  --color-background-light: #767EFA;
  --color-background-soft: #A1A7F9;

  --color-text-mute: #CDD0F9; 
  --color-text: #F9F9F9;

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #3d4268;
    --color-background-light: #767EFA;
    --color-background-soft: #A1A7F9;

    --color-text-mute: #CDD0F9; 
    --color-text: #F9F9F9;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
